@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600&display=swap");
:root {
  --black: black;
  --white: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Wix Madefor Display", sans-serif;
  overflow: hidden;
}
body {
  position: relative;
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
iframe {
  position: absolute;
  top: -500px;
  border-radius: 12px;
  width: 100%;
  height: 352px;
  transition: top 0.5s ease-in-out;
  border: none;
}
/* MENU BURGER */
.menu-button {
  position: absolute;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}
.menu-button div {
  height: 2px;
  width: 30px;
  background-color: var(--black);
  margin-bottom: 3px;
}

.menu-container {
  display: flex;
  position: absolute;
  width: 100vw;
  z-index: 1;
}
.menu-panel {
  cursor: pointer;
  font-weight: bolder;
  font-size: 3vw;
  word-break: break-all;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 0;
  text-transform: uppercase;
  transition: height 0.5s cubic-bezier(0.6, 0, 0.24, 1);
}
.menu-panel.left {
  background-color: var(--white);
  color: var(--black);
  height: 0vh;
}
.menu-panel.right {
  background-color: var(--black);
  color: var(--white);
  transition-delay: 0.1s;
  height: 0vh;
}
.displayed {
  height: 100vh !important;
}

[class^="loader"] {
  position: absolute;
  z-index: 2;
  inset: 0;
  transition: transform 0.7s cubic-bezier(0.76, 0, 0.24, 1);
}
.loader-white {
  transform: translateX(0);
  background-color: var(--white);
}
.loader-black {
  transform: translateX(0%);
  background-color: var(--black);
}

/* PROJETS */
.hr {
  background-color: var(--black);
  width: 100%;
  height: 2px;
}

.cursor-selector {
  width: 100%;
  height: 141px;
  background-color: var(--black);
  position: absolute;
}
#project-container {
  display: none;
  counter-reset: projet;
  position: relative;
}
.project {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 80px;
  gap: 70px;
  position: relative;
}
.project:hover {
  background-color: var(--black);
  color: white;
  cursor: pointer;
}

.project .project-title {
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: 700;
  pointer-events: none;
}
.project-title::before {
  counter-increment: projet;
  content: "." counter(projet, decimal-leading-zero);
  font-size: 0.3em;
  position: absolute;
  top: 28px;
  left: 15px;
  pointer-events: none;
}
.project .project-feat {
  font-size: 4vw;
  pointer-events: none;
}
.project-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
