@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600&display=swap");
:root {
  --black: black;
  --white: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Wix Madefor Display", sans-serif;
}
body {
  position: relative;
}
.text-full-width {
  text-align: center;
  font-size: 10vw;
  font-weight: 900;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.fw-900 {
  font-size: 2.5vw;
  font-weight: 900;
}
.fw-900 + div {
  position: relative;
  padding-left: 24px;
}
#noise {
  position: absolute;
  z-index: 4;
  width: 100vw;
  pointer-events: none;
}
.bg-black {
  background-color: var(--black);
  color: var(--white);
}
.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* MENU BURGER */
.menu-button {
  position: absolute;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}
.menu-button div {
  height: 2px;
  width: 30px;
  background-color: var(--black);
  margin-bottom: 3px;
}

.menu-container {
  display: flex;
  position: absolute;
  width: 100vw;
  z-index: 1;
}
.menu-panel {
  cursor: pointer;
  font-weight: bolder;
  font-size: 3vw;
  word-break: break-all;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 0;
  text-transform: uppercase;
  transition: height 0.5s cubic-bezier(0.6, 0, 0.24, 1);
}
.menu-panel.left {
  background-color: var(--white);
  color: var(--black);
  height: 0vh;
}
.menu-panel.right {
  background-color: var(--black);
  color: var(--white);
  transition-delay: 0.1s;
  height: 0vh;
}
.displayed {
  height: 100vh !important;
}

[class^="loader"] {
  position: absolute;
  z-index: 2;
  inset: 0;
  transition: transform 0.7s cubic-bezier(0.76, 0, 0.24, 1);
}
.loader-white {
  transform: translateX(0);
  background-color: var(--white);
}
.loader-black {
  transform: translateX(0%);
  background-color: var(--black);
}
/* --------------------------PROJECTS PAGE--------------------------- */

.hr {
  background-color: var(--black);
  width: 100%;
  height: 2px;
}
iframe {
  display: block;
  margin-top: 0px;
  border-radius: 12px;
  width: calc(100% - 80px);
  height: 0px;
  transition: all 0.5s ease-in-out;
  border: none;
}
#project-container {
  display: none;
  counter-reset: projet;
  position: relative;
}
.project {
  padding: 10px 10px 10px 80px;
  position: relative;
}
.project-text {
  display: flex;
  align-items: center;
  gap: 70px;
  pointer-events: none;
}

.project:hover {
  background-color: var(--black);
  color: white;
  cursor: pointer;
}

.project .project-title {
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: 700;
  pointer-events: none;
}
.project-title::before {
  counter-increment: projet;
  content: "." counter(projet, decimal-leading-zero);
  font-size: 0.3em;
  position: absolute;
  top: 28px;
  left: 15px;
  pointer-events: none;
}
.project .project-feat {
  font-size: 4vw;
  pointer-events: none;
}
.project-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}
/* --------------------------CONTACT PAGE--------------------------- */

.fw-900 + div::before {
  content: url("/img/cross.svg");
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 15px;
}

.contact {
  background-color: var(--black);
  color: var(--white);
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}
.contact a {
  text-decoration: none;
  color: white;
}
.contact a:hover {
  color: white;
}

[class^="container-"] {
  margin: 30px;
}
.dash {
  margin: 0px 5px 0px 5px;
  display: flex;
  width: 35px;
  height: 1px;
  background-color: white;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70vh;
  width: auto;
  font-size: 2vw;
}

#contact-container img:first-of-type {
  position: absolute;
  top: 70%;
  left: 43%;
}
#contact-container img:nth-of-type(2) {
  position: absolute;
  top: 70%;
  left: 40%;
}

#contact-container img:last-of-type {
  position: absolute;
  top: 30%;
  left: 70%;
}

/* THREEJS */
.container-right {
  position: absolute;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  top: 0;
  left: 0;
}
/* --------------------------HOME PAGE--------------------------- */
#home-container h1 {
  font-size: 15vw;
  text-transform: uppercase;
}
